.tmp-body {
  background-color: pink;
  width: 300px;
  margin: 0 auto;
}

.app-root {
    position: relative;
    top: 0px;
    left: 0px;
    min-height: 300px;
    background-color: #99cd93;
}

.comm-page {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 10px;
}
.g_txt_hover {
    cursor: pointer;
    //transition: color,font-weight .5s;
    transition: .5s;
    &:hover {
        color: green;
        //font-weight: bold;
    }
}
