.tmp-body {
  background-color: pink;
  width: 300px;
  margin: 0 auto;
}

// 默认页面内容宽度。
@comm-page-w: 1000px;

.app-root {
    position: relative;
    top: 0px;
    left: 0px;
    min-height: 300px;
    // background-color: #99cd93;
    box-sizing: border-box;
}

.comm-page {
    position: absolute;
    left: 50%;
    width: @comm-page-w;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    transform: translateX(-50%);
    background-color: #e8e7e7;
}
.g_txt_hover {
    cursor: pointer;
    //transition: color,font-weight .5s;
    transition: .5s;
    &:hover {
        color: green;
        //font-weight: bold;
    }
}
